{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
{{ encore_entry_link_tags('app1') }}


<div id="root"></div>



{{ encore_entry_script_tags('app1') }}
{% endblock %}
